<!DOCTYPE erb>
<html>
    <body>
    <h3>Open/Update Account</h3>
        <form action="/login" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="accnum">Account Number:</label>
            <input type="text" id="acnum" name="acnum"><br>
            <label for="pass">Password:</label>
            <input type="text" id="pass" name="pass">

            <input type='submit' name='submit'>
        </form>
    </body>
</html>
