<html>
    <head>
    </head>
    <body>
        <h1>Welcome to Adrian's Bank, choose a service</h1>
        <br>
        <a href ="/createaccount">Open/Update an Account</a>
        <br>
        <a href ="/deposit">Deposit money into an account</a>
        <br>
        <a href ="/withdraw">Withdraw money from an account</a>
    </body>
</html>
