<html>
    <head>
        <title>
            User info
        </title>
    </head>
    <body>
    <nav>
    <%=
        "Name: #{settings.name} <br> Account Number: #{settings.accountnum} <br> Balance: #{settings.balance}"
    %>
    </nav>
    <a href="/">Go Home</a>
    </body>
</html>