<html>
    <body>
        <h3>Withdraw</h3>
        <form action="/withdraw" method="post">
        <label for="fname">Name:</label>
        <input type="text" id="name" name="name"><br>
        <label for="accnum">Account Number:</label>
        <input type="text" id="acnum" name="acnum"><br>
        <label for="pass">Password:</label>
        <input type="text" id="pass" name="pass"><br>
        <label for="amount">Amount:</label>
        <input type="text" id="amoun" name="amoun">

        <input type='submit' name='submit'>

        </form>
    
        
</body>
</html>